################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/.vs/CurrencyRates/v14
/CurrencyRatesTests/bin/Debug
/CurrencyRatesTests/obj/Debug
/packages
